@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
$font1:'Bayon', sans-serif;
$font2:'Urbanist', sans-serif;
$color1:#8E39A0;
$color2:#FE19A2;
$color3:#101010;

*{
    margin: 0;
    padding: 0;
    scroll-margin-top: 100px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.slide{
    background-color: $color3;
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color:$color3;
    display: flex;
    flex-wrap: wrap;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        letter-spacing: 0.15em;
        width: 20%;
        line-height: 45px;
        font-size: 4.5vh;
        padding-left: 15px;
        font-family: $font1;
        @media all and (max-width: 1000px){
            width: 30%;
        }
        @media all and (max-width: 600px){
            width: 50%;
        }
        a{
            text-decoration: none;
            color: $color2;
        }
        
    }
    nav{
        width: 60%;
        display: flex;
        align-items: center;
        letter-spacing: 0.15em;
        font-size: large;
        font-family: $font2;
        @media all and (max-width: 1200px)
            {
                display: flex;
                justify-content: flex-end;
            }
        @media all and (max-width: 1000px)
            {
                display: flex;
            }
        @media all and (max-width: 600px)
            {
                display: flex;
                width: 50%;
            }
        ul{
            width: 100%;
            display: flex;
            list-style: none;
            @media all and (max-width:1200px)
            {
                    display: none;
            }
            li{
                flex: 1;
                a{
                    cursor: pointer;
                    display: block;
                    line-height: 100px;
                    text-align: center;
                    color: white;
                    text-decoration: none;
                }
                a:hover{
                    color: $color2;
                }
                &.active{
                    background-color: $color1;
                    font-size: xx-large;
                }
            }
        }
    }
}
#burger{
    display: none;
    width: 50px;
    cursor: pointer;
    position: fixed;
    top: 2.5%;
    right: 4%;
    z-index: 200;

    .bar{
        width: 100%;
        height: 3px;
        margin: 8px 0;
        background-color:white;
        transition: all 0.5s;
    }
}

#burger.open-burger .bar:nth-child(1){
    background-color: white;
    transform: translate(0px,11px) rotate(45deg)
}
#burger.open-burger .bar:nth-child(2){
    opacity: 0;
}
#burger.open-burger .bar:nth-child(3){
    background-color: white;
    transform: translate(0px,-11px) rotate(-45deg)
}

#responsivemenu{
    width: 100%;
    height: 100vh;
    background-color: $color3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100%;
    z-index: 100;
    transition: all 0.5s;
    nav ul{
       list-style: none;
       font-family: $font2;
       li{
           margin: 30px 0;
           text-align: center;
           a{
              color: white;
              text-decoration: none;
              font-size: 2.5em;
              &:focus{
                color: $color2;
              }
            }
        }
    }
}
.open-menu{
    left: 0!important;
}

@media all and (max-width: 1200px){
    header nav{
        display: none;
    }

    #burger{
        display: block;
    }
    #responsivemenu nav ul li{
        margin: 60px 0;
    }
    
    #responsivemenu nav ul li a{
        font-size: 2em;
    }
}



#home{
    min-height: calc(100vh - 200px);
    width: 100%;
    background-image: url(../IMAGES/HOME.jpeg);
    background-position: center;
    background-size: cover;
    .rect{
        height: 100vh;
        width: 20%;
        margin-left: 40%;
        background-color: $color1;
        @media all and (max-width: 1200px)
        {
            width: 40%;
            margin-left: 30%;
        }


    
        
        .text{
            width: 100%;
            height: 100%;
            color: white;
            font-family: $font1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .title{
                padding-top: 100px;
                font-size: 4vw;
                @media all and (max-width : 900px)
                {
                    font-size: 6vw;
                }

                @media all and (max-width : 500px)
                {
                    font-size: 4vh;
                }
                @media all and (max-height: 500px)
                {
                    font-size: 3vh;
                }
            }
            .date{
                font-size: 3vw;
                @media all and (max-width : 900px)
                {
                    font-size: 4vw;
                }
                @media all and (max-width : 500px)
                {
                    font-size: 3vh;
                }
                @media all and (max-height: 500px)
                {
                    font-size: 2vh;
                }
            }
            .mois{
                font-size: 2vw;
                @media all and (max-width : 900px)
                {
                    font-size: 4vw;
                }
                @media all and (max-width : 500px)
                {
                    font-size: 3vh;
                }
                @media all and (max-height: 500px)
                {
                    font-size: 2vh;
                }
            }
            .place{
                font-size: 2vw;
                padding-bottom: 100px;
                @media all and (max-width : 900px)
                {
                    font-size: 3vw;
                }
                @media all and (max-width : 500px)
                {
                    font-size: 3vh;
                }
                @media all and (max-height: 500px)
                {
                    font-size: 2vh;
                }
            }
            p{
                font-size: 2vw;
                @media all and (max-width : 450px)
                {
                    font-size: 3vw;
                }
                @media all and (max-width : 500px)
                {
                    font-size: 3vh;
                }
                @media all and (max-height: 500px)
                {
                    font-size: 3vh;
                }
            }
        }
    

    }
    
    
}

#footer{
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: $color3;
    position: absolute;
    z-index: 10;
    .foot{
        width: 20%;
        margin-left: 40%;
        text-align: center;
        @media all and (max-width: 1200px){
            width: 40%;
            margin-left: 30%;
        }
        .rs{
            height: 100px;
            background-color: $color1;
            line-height: 100px;
            a{
                fill: white;    
                padding-left: 10px;     
                text-decoration: none;     
            }
            a:hover{
                fill:$color2;                 
                }
            
        }
    }
}

.messagedefilant {
    display: block;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 60px;
    background-color: $color3;
    @media all and (max-width: 800px)
            {
                height: 30px;
            }
    div {
        position: absolute;
        min-width: 100%;
        color: #FE19A2;
        font-family: $font1;
        line-height: 60px;
        border-top: $color1 solid 1px;
        @media all and (max-width: 800px)
            {
                line-height: 30px;
            }
        span {
            animation: defilement 10s infinite linear;
            background: $color3;
          }
      }
    span, div:after{
        position: relative;
        display: inline-block;
        font-size: 60px;
        letter-spacing: 0.20em;
        white-space: nowrap;
        top:0;    
        @media all and (max-width: 800px)
            {
                font-size: 30px;
            }
    }
    div:after {
        position: absolute;
        top:0; left:0;
        content:attr(data-text);
        animation: defilement2 10s infinite linear;
        background:$color3;
      }

      @keyframes defilement {
        0% { margin-left: 0; }
        100% { margin-left: -100%; }
      }
      
      @keyframes defilement2 {
        0% { margin-left: 100%; }
        100% { margin-left: 0%; }
      }
}



#lineup{
        width: 100%;
        min-height: calc(100vh - 100px);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
      
        @media all and (max-width: 1200px) {
          grid-template-columns: 1fr ;
          border-top: solid 1px $color1;
        }
      }
      
      .flip-card {
        height:calc(100vh - 100px);
        perspective: 1000px;
        background-color: transparent;
        cursor: pointer;
        text-transform: uppercase;
        border: solid 1px $color1;
      
        @media all and (max-width: 1200px) {
          width: 85%;
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: 0.6s;
        transform-style: preserve-3d;
      }
      
      .flip-card.active .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background-color: $color3;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
      
        h3 {
          font-size: 3em;
          letter-spacing: 0.15em;
          color: $color2;
          font-family: $font2;
        }
      
        p {
          font-size: 2em;
          font-family: $font2;
          color: white;
          text-transform: uppercase;
          transition: all 0.5s;
          text-align: center;
      
          &:hover {
            color: $color1;
            text-transform: uppercase;
          }
        }
      }
      
      .flip-card-back {
        background-color:$color3;
        transform: rotateY(180deg);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        border-right: solid 1px $color1;
        text-align: center;
      
        a {
          text-decoration: none;
          font-family: $font1;
          font-size: 4em;
          letter-spacing: 0.15em;
          line-height: 45px;
          color:$color2;
          cursor: pointer;
          transition: all 0.5s;
      
          &:hover {
            color: white;
          }
        }
        h2{
            a{
                font-family: $font1;
                color: $color1;
                font-size: 2em;
                letter-spacing: 0.15em;
            }
            
        }
        h3{
            a{
                font-family: $font1;
                color: $color1;
                font-size: 1.8em;
                letter-spacing: 0.15em;
            }
        }
      }
    
    


#informations{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    border-top: $color1 solid 1px;
    overflow: hidden;
    @media all and (max-width:1200px){
            display: none;
        }
    .part{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: calc(100vh - 100px);
        .left{
            width: 50%;
            height: 50%;
            background-color:$color3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img{
                width: 100%;
                height: 100%;
                filter: grayscale(.5);
                object-fit: cover;
            }
            .texte{
                width: 80%;
                margin: auto;
                font-family: $font2;
                h1{
                    padding-bottom: 10px;
                    text-align: center;
                    color: $color2;
                    font-size: 3em;
                }
                p{
                    padding-bottom: 10px;
                    color: white;
                    font-size: 1em;
                    letter-spacing: 0.15em;
                    line-height: 2em;
                }
    
                a{
                    width: 40%;
                    margin-left: 30%;
                    text-align: center;
                    text-decoration: none;
                    color: $color1;
                    font-size: 1.2em;
                    display: block;
                    padding: 10px;
                    border: solid 1px $color1;
                }
                a:hover{
                    color: $color2;
                    padding: 10px;
                    border: solid 1px $color2;
                }
            }
        }
        .right{
            width: 50%;
            height: 50%;
            background-color: $color3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img{
                width: 100%;
                height: 100%;
                filter: grayscale(.5);
                object-fit: cover;
            }
            .texte{
                width: 80%;
                margin: auto;
                font-family: $font2;
                h1{
                    text-align: center;
                    color: $color2;
                    font-size: 3em;
                    padding-bottom: 20px;
                }
                p{
                    color: white;
                    font-size: 1em;
                    padding-bottom: 20px;
                    letter-spacing: 0.15em;
                    line-height: 2em;
    
                }
    
                a{
                    width: 40%;
                    margin-left: 30%;
                    text-align: center;
                    text-decoration: none;
                    color: $color1;
                    font-size: 1.2em;
                    display: block;
                    padding: 10px;
                    border: solid 1px $color1;
                }
                a:hover{
                    color: $color2;
                    padding: 10px;
                    border: solid 1px $color2;
                }
            }
        }
    }
    }
    

#inforesponsive{
    display: none;
    @media all and (max-width:1200px){
        display:block;
    }
    .img1{
        width: 100%;
        height: calc(100vh - 100px);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            filter: grayscale(.5);
            width: 100%;
            height: calc(100vh - 100px);
            object-fit: cover;
        }
    }
    .block{
        width: 80%;
        margin-left: 10%;
        min-height:60%;
        background-color:$color3;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $font2;

        .texte{
            width: 80%;
            margin-left: 10%;
            h1{
                margin: 20px;
                text-align: center;
                color: $color2;
                font-size: 2em;
            }
            p{
                color: white;
                font-size: 1.2em;
                line-height: 1.2em;
            }
            a{
                display: block;
                text-align: center;
                text-decoration: none;
                color: $color1;
                font-size: 1.4em;
                margin-top:20px;
                padding: 10px;
                border: solid 1px $color1;
            }
            a:hover{
                color: $color2;
                border: solid 1px $color2;
            }
        }
    }
}

#tickets{
    width: 100%;
    min-height: calc(100vh - 200px);
    background-color: $color3;
    display: flex;
    flex-wrap: wrap;
    @media all and (max-width:1200px){
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .gauche{
        width: 50%;
        height: calc(100vh - 200px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        @media all and (max-width:1200px){
            max-height: 100vh;
            width: 100%;
        }
        iframe{
            width: 100%;
            height: 100%;
        }
    }
    .droite{
        width: 50%;
        min-height: calc(100vh - 200px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #8E39A0;

        @media all and (max-width:1200px){
            min-height: 100vh;
            width: 100%;
        }
        form {
            width: 80%;
            min-height:100%;
            background-color: $color1;
            margin: 0 auto;
            padding: 20px;
            font-family: $font2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            font-size: 1.2em;
            letter-spacing: 0.15em;

            h1{
                text-align: center;
                margin-bottom: 30px;
                color: white;
            }
          
            input[type="text"],
            input[type="email"],
            textarea {
              width: 100%;
              padding: 15px;
              margin-bottom: 20px;
              border: none;
              border-bottom: 1px solid white;
              background: transparent;
              font-family: $font2;
              color: white;
              font-size: 0.8em;
              &:focus{
                outline: none;
              }
            }
          
            input[type="submit"] {
              width: 50%;
              margin-left: 25%;
              padding: 10px;
              background-color: #8E39A0;
              color: $color3;
              border-radius: 20px;
              cursor: pointer;
              border: solid 1px white;
              font-family: $font2;
              font-size: 1em;
              letter-spacing: 0.10em;
              color: white;
          
              &:hover {
                background-color: #FE19A2;
              }
            }
          }
    }

}


//JOUR1 --------------------------------------------------
.header{
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color:$color3;
    display: flex;
    flex-wrap: wrap;
    @media all and (max-width:1200px){
        position: fixed;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        letter-spacing: 0.15em;
        width: 20%;
        line-height: 45px;
        font-size: 4.5vh;
        padding-left: 15px;
        font-family: $font1;
        @media all and (max-width: 1000px){
            width: 30%;
        }
        @media all and (max-width: 600px){
            width: 50%;
        }
        a{
            text-decoration: none;
            color: $color2;
        }
        
    }
    nav{
        width: 60%;
        display: flex;
        align-items: center;
        letter-spacing: 0.15em;
        font-size: large;
        font-family: $font2;
        @media all and (max-width: 1200px)
            {
                display: flex;
                justify-content: flex-end;
            }
        @media all and (max-width: 1000px)
            {
                display: flex;
            }
        @media all and (max-width: 600px)
            {
                display: flex;
                width: 50%;
            }
        ul{
            width: 100%;
            display: flex;
            list-style: none;
            @media all and (max-width:1200px)
            {
                    display: none;
            }
            li{
                flex: 1;
                a{
                    cursor: pointer;
                    display: block;
                    line-height: 100px;
                    text-align: center;
                    color: white;
                    text-decoration: none;
                }
                a:hover{
                    color: $color2;
                }
                &.active{
                    background-color: $color1;
                    font-size: xx-large;
                }
            }
        }
    }
}
#burger{
    display: none;
    width: 50px;
    cursor: pointer;
    position: fixed;
    top: 2.5%;
    right: 4%;
    z-index: 200;

    .bar{
        width: 100%;
        height: 3px;
        margin: 8px 0;
        background-color:white;
        transition: all 0.5s;
    }
}

#burger.open-burger .bar:nth-child(1){
    background-color: white;
    transform: translate(0px,11px) rotate(45deg)
}
#burger.open-burger .bar:nth-child(2){
    opacity: 0;
}
#burger.open-burger .bar:nth-child(3){
    background-color: white;
    transform: translate(0px,-11px) rotate(-45deg)
}

#responsivemenu{
    width: 100%;
    height: 100vh;
    background-color: $color3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100%;
    z-index: 100;
    transition: all 0.5s;
    nav ul{
       list-style: none;
       font-family: $font2;
       li{
           margin: 30px 0;
           text-align: center;
           a{
              color: white;
              text-decoration: none;
              font-size: 2.5em;
              &:focus{
                color: $color2;
              }
            }
        }
    }
}
.open-menu{
    left: 0!important;
}

@media all and (max-width: 1200px){
    header nav{
        display: none;
    }

    #burger{
        display: block;
    }
    #responsivemenu nav ul li{
        margin: 60px 0;
    }
    
    #responsivemenu nav ul li a{
        font-size: 2em;
    }
}



//Jour1
    #home2{
        width: 100%;
        min-height: calc(100vh - 200px);
        background-color: #101010;
        display: flex;
        flex-wrap: wrap;
        letter-spacing: 0.20em;
        @media all and (max-width:1200px){
            flex-wrap: nowrap;
            flex-direction: column;
        }
        .left{
            width: 50%;
            min-height: calc(100vh - 200px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            letter-spacing: 0.15em;
            @media all and (max-width:1200px){
                width: 100%;
                margin-top: 100px;
            }
            .jour{

                a{
                    text-decoration: none;
                }



                h1{
                    margin-bottom: 20px;
                    color: $color2;
                    font-family: $font2;
                    font-size: 3em;
                }
                h3{
                    font-family: $font1;
                    color: white;
                    font-size: 2em;
                }
                h3:hover{
                    color: $color2;
                }
                h4{
                    margin-bottom: 20px;
                    font-family: $font2;
                    color: $color1;
                    font-size: 1em;
                }
            }
            

        }
        .right{
            width: 50%;
            height: calc(100vh - 200px);
            @media all and (max-width:1200px){
                width: 100%;
                
            }
            #bandeaux
            {
                width:100%;
                height: calc(100vh - 200px);
                position:relative;
                overflow:hidden;
                .bandeau
                {
                    position:absolute;
                    opacity:0;
                    left:0;
                    top:0;
                    width:100%;
                    height:100%;
                    transition:opacity 0.5s ease-in-out;
                    img
                    {
                        position:absolute;
                        width: 100%;
                        height: calc(100vh - 200px);
                        object-fit: cover;
                    }
                }
                .bandeau.active
                {
                    z-index:2;
                    opacity:1;
                }
            }   
                }
            }

    
    //artistes

    #home3{
        width: 100%;
        min-height: calc(100vh - 200px);
        background-color: $color3;
        display: flex;
        flex-wrap: wrap;
        letter-spacing: 0.20em;
        @media all and (max-width:1200px){
            flex-wrap: nowrap;
            flex-direction: column;
        }
        .left{
            width: 50%;
            min-height: calc(100vh - 200px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            letter-spacing: 0.15em;
            @media all and (max-width:1200px){
                width: 100%;
                margin-top: 100px;
            }
            .rs{
                margin-bottom: 30px;
                margin-top: 30px;
                a{
                    fill:$color2;    
                    padding-left: 10px;     
                    text-decoration: none;     
                }
                a:hover{
                    fill:white;                 
                    }
            }



                h1{
                    margin-bottom: 20px;
                    color: $color2;
                    font-family: $font2;
                    font-size: 3em;
                }
                h2{
                    font-family: $font2;
                    color: $color1;
                    font-size: 2em;
                }

                h5{
                    margin-bottom: 20px;
                    font-family: $font2;
                    color: white;
                    font-size: 1em;
                    padding-left: 50px;
                    padding-right: 50px;
                }
            }
            

        }
        .right{
            width: 50%;
            height: calc(100vh - 200px);
            @media all and (max-width:1200px){
                width: 100%;
                
            }
            img{
                width: 100%;
                height: calc(100vh - 200px);;
                object-fit: cover;
            }
        }
    

            footer{
                width: 100%;
                max-height: 100px;
                background-color: $color3;
                .foot{
                    width: 20%;
                    margin-left: 40%;
                    text-align: center;
                    @media all and (max-width: 1200px){
                        width: 40%;
                        margin-left: 30%;
                    }
                    .rs{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 100px;
                        background-color: $color1;
                        .copy{
                            margin-top: 10px;
                            font-family: $font2;
                            color: white;
                        }
                        h6{
                            color: white;
                            font-family: $font2;
                        }
                        .btnr{
                            a{
                                font-family: $font2;
                                color:white;
                                font-size: 2em;
                                text-decoration: none;
                            }
                        }
                        .logors{
                            a{
                                fill: white;    
                                padding-left: 10px;     
                                text-decoration: none;     
                            }
                            a:hover{
                                fill:$color2;                 
                                }
                        }
                    }
                }
            }

//BURGER

